body {
    background: linear-gradient(rgb(145, 145, 253), white);
    background-attachment: fixed;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

